name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: yarn

      - name: Compile assets
        run: yarn build

      - name: Commit changes
        uses: EndBug/add-and-commit@v7
        with:
          default_author: github_actions
